/* .container {
	padding: 16px 0;
} */
.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

.journeySection {
  padding: 24px 0 24px 0;
}

.title {
  margin: 0;
}

.momBodyChange {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.loader {
  position: relative;
  width: 80px;
  height: 120px;
  animation: heartBeat 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  display: block;
  margin: 0 auto;
}

.loader:before,
.loader:after {
  content: "";
  background: #ffdae0;
  width: 40px;
  height: 60px;
  border-radius: 50px 50px 0 0;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: rotate(45deg);
  transform-origin: 50% 68%;
  box-shadow: 5px 4px 5px #0004 inset;
}
.loader:after {
  transform: rotate(-45deg);
}
@keyframes heartBeat {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

@media only screen and (min-width: 1440px) {
  .momBodyChange {
    flex-wrap: wrap;
    height: 540px;
    width: 1064px;
    margin: 0 auto;
  }

  .importantTasks {
    width: 390px;
    background-color: var(--color-scheme-accent);
    height: 540px;
    border-radius: 32px;

  }
}
