.feeling {
    display: flex;
    flex-direction: column;
}
.title {
    font-family: var(--accent-font);
		font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.01em;
    line-height: 1.4;
		color: var(--color-scheme-text);

    margin-bottom: 8px;
}

/* "Рекомендація на сьогодні:" */
.subtitle {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.6;
    font-family: var(--main-font);
		color: var(--color-scheme-text);
}

/* текст рекомендації */
.text {
    font-family: var(--main-font);
		font-weight: 400;
		font-size: 14px;
		line-height: 1.5;
		color: var(--color-scheme-text);

		margin-bottom: 24px;
}

/* рожева кнопка "Зробити запис у щоденник" */
.button {
    align-self: flex-start;
}
@media screen and (min-width: 1440px){
    .title {
        font-size: 24px;
    }
    .subtitle,
		.text {
        font-size: 16px;
    }
}