.diary_container {
	display: flex;
	height: 100%;
}

.children_container {
	width: 100%;
	height: 727px;	
}

.details_container {
	width: 100%;
	height: 727px;	
}

@media (min-width: 1440px) {
	.children_container {
		width: 389px;
		height: 727px;	
	}

	.details_container {
		width: 643px;
	}

	.diary_container {
		gap: 32px
	}
}

.is_desktop {
	display: none;
}

@media (min-width: 1440px) {
	.is_desktop {
		display: block;
	}
}