.container {
	display: flex;
	flex-direction: column;
	gap: 0;
	height: 100%;
}

.greetingSection {
	display: none;
}

.listSection {
	display: flex;
	flex-direction: column;
	border-radius: 32px;
	background-color: var(--color-scheme-foreground);

	max-height: 727px;
	overflow-y: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

@media (min-width: 768px) {
	.greetingSection {
		display: block;
		margin-bottom: 16px;
	}
}

/* Mobile Layout */
.mobileLayout {
	display: flex;
	flex-direction: column;
	gap: 0;
	height: 100%;
}

/* Desktop Layout */
.desktopLayout {
	display: none;
	gap: 24px;
	height: 100%;
}

@media (min-width: 1440px) {
	.is_desktop {
		display: block;
	}

	.desktopLayout {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 24px;
		height: 100%;
	}

	.listSection {
		display: flex;
		flex-direction: column;
		border-radius: 32px;
		background-color: var(--color-scheme-foreground);

		max-height: 727px;
		overflow-y: auto;
		scrollbar-width: none;
		-ms-overflow-style: none;
	}

	.detailsSection {
		display: flex;
		flex-direction: column;
		max-height: 727px;
		border-radius: 8px;
		background-color: #fff4f6;

		overflow-y: auto;
		scrollbar-width: none;
		-ms-overflow-style: none;
	}
}