.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

.modal {
    background-color: var(--color-white);
    position: relative;
    border-radius: 40px;
    padding: 48px 20px;
    width: 335px;
    height: 689px;
    max-width: 768px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.title {
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    color: #000;
    margin: 0;
}

.closeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #111;
    line-height: 1;

    width: 32px;
    height: 32px;
}

@media (min-width: 768px) {

    .modal {
        border-radius: 40px;
        padding: 64px 32px;
        width: 704px;
        height: 749px;
    }

}

@media (min-width: 1200px) {

    .modal {
        width: 768px;
        height: 786px;
        max-width: 768px;
    }

}