.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 0;
}

.logo {
	width: 105px;
	height: 45px;
}

.burger_icon {
	width: 32px;
	height: 32px;
}

.burger_button {
	background: transparent;
	border: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

@media only screen and (min-width: 1400px) {
	.header {
		display: none;
	}

	.burger_button {
		display: none;
	}
}