.container {

}

.form_box {
	position: relative;
	margin-inline: auto;
}

.image_box {
	display: none;
}

.plant_image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top center;
}

@media (max-width: 768px) {
	.container {
		min-width: 335px;
		max-width: 375px;
		margin-inline: auto;
		padding-inline: 20px;
	}
}

@media (min-width:768px) and (max-width: 1440px) {
	.form_box {
		width: 480px;
	}
}

@media (min-width: 1440px) {
	.container {
		display: flex;
	}

	.image_box {
		display: block;
	}

	.form_box,
	.image_box {
		width: 50%;
		min-height: 100vh;
	}
}