.form_box {
	position: relative;
}

.image_box {
	position: relative;
	display: none;
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.plant_image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top center;
}

@media (min-width:768px) {
	.form_box {
		width: 768px;
		margin-inline: auto;
	}
}

@media (min-width: 1440px) {
	.form_box {
		width: 1440px;
		float: left;
	}

	.image_box {
		display: block;
		float: right;
	}

	.form_box,
	.image_box {
		width: 50%;
		min-height: 100vh;
	}
}