.babyDevelopment {
  padding: 24px;
  background-color: #fff4f6;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  /* NEED TO BE REMOVED!!!!!!! */
  margin-bottom: 24px;
}

.babyImage {
  margin-bottom: 16px;
  display: block;
    width: 100%;
  height: 100%;
  object-fit: cover;
   width: 287px;
    height: 379px;

}

.imageDescr {
  text-align: left;
  line-height: 150%;
  font-size: 14px;
}

.descrText {
  margin-bottom: 16px;
  line-height: 150%;
  font-size: 14px;

}

.interestingFact {
  background-color: #ffdae0;
  border-radius: 12px;
  padding: 12px;
}

.factHeaderContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

 .factHeader{
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
}

.factText {
  line-height: 150%;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
    .babyImage {
        width: 656px;
        height: 379px;
    }

    .icon {
        width: 24px;

    }
}

@media only screen and (min-width: 1440px) {
  .babyDevelopment {
        width: 1064px;
        height: 467px;
        margin: 0 auto 32px;
        gap: 32px;
        flex-direction: row;
    }

    .switcher {
        max-width: 572px;
       margin: 0 auto 16px;
    }

    .descrSection {
        flex-basis: 50%;
    }

    .babyImage {
      width: 100%
    }

    .imgSection {
        flex-basis: 50%;
    }

    .descrText {
        font-size: 16px;
    }

    .imageDescr {
        font-size: 16px;
    }

     .factHeader {
        font-size: 16px;
     }

     .factText {
        font-size: 16px;
     }


  
  }