.dashboard {
    width: 100%;
    max-width: 375px;
    /* ширина mobile-фрейму */
    margin: 0 auto;
    padding: 0;

    display: flex;
    flex-direction: column;
    /* одна колонка */
    column-gap: 16px;
}
.card {
    background-color: var(--color-scheme-foreground);
    border-radius: 32px;
    padding: 24px 24px;
}

.leftColumn {
    display: flex;
    flex-direction: column;

    padding-top: 16px;
    /* gap: 16px;  */
}
.rightColumn {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* === Tablet ≥ 768px === */
@media screen and (min-width: 768px) {
    .dashboard {
        max-width: 768px;
        /* ширина tablet-фрейму */
    }
}

@media screen and (min-width: 1440px) {
    .dashboard {
        max-width: 1128px;
        padding: 0;

        display: grid;
        grid-template-columns: 674px 422px;
        column-gap: 32px;
        align-items: flex-start;
    }
    .greetingWrapper {
        grid-column: 1 / -1;
    }

    .leftColumn {
        /* gap: 32px; */
    }
    .rightColumn {
        padding: 16px 32px 32px 0px;
        gap: 32px;
    }

    .tasksHeight {
        height: 499px;
        overflow-y: auto;

        /* hide scrollbar */
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .cardFixedHeight::-webkit-scrollbar {
        display: none;
    }

    .greetingHeight {
        height: 45px;
    }

    .tasksHeight {
        height: 499px;
        overflow-y: auto;

        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .tasksHeight::-webkit-scrollbar {
        display: none;
    }

    .feelingHeight {
        height: 210px;
        overflow-y: auto;

        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .feelingHeight::-webkit-scrollbar {
        display: none;
    }
}
