/* === mobile (375px) === */
.dashboard {
    width: 100%;
    max-width: 375px;
   
    margin: 0 auto;
    margin-top: 0 px;
    padding: 0;

    display: flex;
    flex-direction: column;
   
    gap: 16px;
}

.leftColumn,
.rightColumn {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* === Tablet ≥ 768px === */
@media screen and (min-width: 768px) {
    .dashboard {
        max-width: 768px;
    }

    .leftColumn,
    .rightColumn {
        gap: 16px;
        /* можна трохи збільшити відступи */
    }
}

/* === Desktop ≥ 1024px (фрейм 1128px) === */
@media screen and (min-width: 1024px) {
    .dashboard {
        max-width: 1128px;
        padding: 0;
        /* ширина desktop-фрейму */
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 32px;
        align-items: flex-start;
    }

    .leftColumn,
    .rightColumn {
        gap: 32px;
    }
}

/* Базова картка для всіх блоків Dashboard */
.card {
    background-color: #fefbf4;
    border-radius: 32px;
    padding: 24px 24px;
}

/* Desktop: фіксована висота + внутрішній скрол */
@media screen and (min-width: 1024px) {
    .cardFixedHeight {
        height: 499px;
        overflow-y: auto;
    }
        .greetingHeight {
            height: 45px;
        }
    
        .tasksHeight {
            height: 499px;
            overflow-y: auto;
        }
    
        .feelingHeight {
            height: 210px;
            overflow-y: auto;
        }
    
}