.container {
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
  padding: 24px;
	background: var(--color-scheme-foreground);
	border-radius: 32px;
	min-height: 727px;
}

@media (min-width: 1440px) {
	.container {
		min-height: 727px;
	}
}

.placeholder {
	font-family: var(--main-font);
  text-align: center;
  color: #999;
  padding: 40px 16px;
  font-size: 14px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* gap: 16px; */
}

.header > div {
	display: flex;
  align-items: center;
	gap: 8px;
	height: 40px;
}

.title {
	font-family: var(--accent-font);
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0.01em;
	color: var(--color-scheme-text);
}

.icon_container {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background-color: transparent;
	padding: 0
	/* background-color: black; */
	/* width: 40px;
	height: 40px; */
}

.icon {
	fill: black;
	width: 24px;
	height: 24px;
	display: block;
}

.date {
	font-family: var(--main-font);
	color: var(--color-scheme-text);
}

.actions {
	display: flex;
  align-items: center;
	gap: 8px;
	height: 40px;
}

.emotions {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.emotionTag {
  background: var(--opacity-neutral-darkest-5);
	border: 1px solid var(--opacity-transparent);
	color: var(--color-scheme-text);
	border-radius: 100px;
	padding-block: 2px;
	padding-inline: 12px;
	font-family: var(--main-font);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}

.content {
  overflow-y: auto;
}

.description {
	font-family: var(--main-font);
  white-space: pre-wrap;
  word-break: break-word;
	line-height: 1.5;
	color: var(--color-scheme-text);
	margin-bottom: 8px;
}

@media (max-width: 768px) {
  .container {
    /* padding: 12px; */
    min-height: auto;
  }

  .header {
    flex-direction: column;
    align-items: stretch;
  }

  .actions {
    /* flex-direction: column; */
  }

  .editButton,
  .deleteButton {
    width: 100%;
  }

  .content {
    max-height: 500px;
  }
}


@media (min-width: 768px) {
  .container {
    gap: 8px
  }

	.description {
		margin-bottom: 0;
	}
}

@media (min-width: 1440px) {
	.description {
		font-size: 16px;
	}
}