.card {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 16px;
	background-color: var(--color-scheme-foreground-alt);
	border-radius: 16px;
	cursor: pointer;
	transition: all 0.2s;
}

.content {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	gap: 8px;
}

.title {
	font-family: var(--main-font);
	font-size: 18px;
	line-height: 1.6;
	font-weight: 600;
	color: #333;
	font-family: "Lato", sans-serif;
}

.date {
	font-family: var(--main-font);
	line-height: 1.6;
	font-weight: 400;
	color: #333;
	font-family: "Lato", sans-serif;
}

.emotions {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.emotionTag {
	background: var(--color-scheme-foreground);
	border: 1px solid var(--opacity-transparent);
	border-radius: 100px;
	padding-block: 2px;
	padding-inline: 12px;

	font-family: var(--main-font);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: var(--color-scheme-text);
}

.non_desktop_content {
	display: block;
}

.desktop_content {
	display: none;
}

@media (min-width: 1440px) {
	.non_desktop_content {
		display: none;
	}

	.desktop_content {
		display: block;
	}
}