.greeting {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;

    min-height: 34px;
    margin-bottom: 24px;
}

.breadcrumb {
    font-size: 14px;
    color: #8f8f8f;
}

.title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0.01em;
    color: #000;
}
@media screen and (min-width: 1024px){
    .greeting {
        min-height: 45px;
    }
    .title {
            font-size: 32px;
        }
}